.calculator-form-tooltip+.tooltip>.tooltip-inner{background-color:#f9f9f9;color:black;font-size:14px;text-align:left;line-height:21px;padding:20px 10px 20px 20px;max-width:326px;box-sizing:border-box;border:solid 1px #dadada}.calculator-form-tooltip+.tooltip>.tooltip-arrow{border-left-color:#f9f9f9}