.container-new {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .container-new {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 720px;
  }
}
@media (max-width: 500px) {
  .container-new {
    padding-left: 20px;
    padding-right: 20px;
  }
}
html {
  font-size: 10px;
}
a {
  outline-style: none !important;
}
.icon {
  display: inline-block;
  background-image: url(//waak/wp-content/themes/makler/css/../img/icons/icons.svg);
  background-repeat: no-repeat;
}
.icon.docura-icon-document {
  background-position: -431px 0px;
  height: 42px;
  width: 32px;
}
.icon.docura-icon-calculator {
  background-position: -463px 0px;
  height: 42px;
  width: 33px;
}
.icon.docura-icon-like {
  background-position: -398px 0px;
  height: 42px;
  width: 33px;
}
.icon.docura-icon-pdf {
  background-position: -370px 0px;
  height: 26px;
  width: 28px;
}
.icon.docura-icon-waak-small-logo {
  background-position: -298px 0px;
  height: 16px;
  width: 72px;
}
.icon.docura-icon-burger {
  background-position: -89px 0px;
  height: 18px;
  width: 25px;
}
.icon.docura-icon-green-arrow {
  background-position: -112px 0px;
  height: 12px;
  width: 6px;
}
.icon.docura-icon-header-phone {
  background-position: -118px 0px;
  height: 23px;
  width: 23px;
}
.icon.docura-icon-slider-leaf {
  background-position: -141px 0px;
  height: 55px;
  width: 140px;
}
.icon.docura-icon-plus {
  background-position: -0px 0px;
  height: 18px;
  width: 17px;
}
.icon.docura-icon-waak-header-logo {
  background-position: -17px 0px;
  height: 20px;
  width: 95px;
}
.icon.icon-minus {
  background-position: -281px 0px;
  height: 2px;
  width: 17px;
}
.icon.docura-mail-icon {
  background-position: -496px 0px;
  height: 20px;
  width: 30px;
}
.h2-docura {
  font-family: proximaextra, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1f1f1f;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 54px;
  padding-left: 110px;
  max-width: 950px;
  text-transform: uppercase;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
@media (max-width: 900px) {
  .h2-docura {
    padding-left: 0;
    margin-bottom: 40px;
    line-height: 42px;
    font-size: 28px;
  }
}
.h6-docura {
  font-family: proximaextra, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
  margin-top: 0;
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  .h6-docura {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.hr-docura {
  border-top: 1px solid #dadada !important;
}
@font-face {
  font-family: 'proximabold';
  src: url(//waak/wp-content/themes/makler/css/../fonts/proximanova-bold-webfont.woff2) format("woff2");
  src: url(//waak/wp-content/themes/makler/css/../fonts/proximanova-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximaextra';
  src: url(//waak/wp-content/themes/makler/css/../fonts/proximanova-extrabld-webfont.woff2) format("woff2");
  src: url(//waak/wp-content/themes/makler/css/../fonts/proximanova-extrabld-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima';
  src: url(//waak/wp-content/themes/makler/css/../fonts/proximanova-regular-webfont.woff2) format("woff2");
  src: url(//waak/wp-content/themes/makler/css/../fonts/proximanova-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  min-width: 320px;
}
#wp-live-chat {
  display: none !important;
}
.btn-primary-docura {
  display: inline-block;
  height: 55px;
  background-color: #0bcf60;
  line-height: 55px;
  font-family: proxima, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border: none;
}
.btn-primary-docura:hover {
  background-color: #015536;
  color: #ffffff;
}
.btn-primary-nrv {
  background-color: #bb417d !important;
}
.btn-primary-nrv:hover {
  background-color: #8f1a4e !important;
}
.btn-primary-domcura {
  background-color: #00c140 !important;
}
.btn-primary-domcura:hover {
  background-color: #2c7d57 !important;
}
.btn-primary-deurag {
  background-color: #f61f1a !important;
}
.btn-primary-deurag:hover {
  background-color: #cd3c3c !important;
}
.datenshutz,
.agb {
  padding-top: 82px;
}
.datenshutz__slide,
.agb__slide {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 520px;
  position: relative;
}
.datenshutz__slide:before,
.agb__slide:before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.datenshutz__slide .container-new,
.agb__slide .container-new {
  position: relative;
  height: 100%;
}
.datenshutz__slide .container-new h4,
.agb__slide .container-new h4 {
  position: absolute;
  font-family: proximabold, sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  left: 110px;
  right: 110px;
  bottom: 100px;
}
@media (max-width: 720px) {
  .datenshutz__slide .container-new h4,
  .agb__slide .container-new h4 {
    font-size: 32px;
    line-height: 45px;
    left: 40px;
    bottom: 126px;
    right: 40px;
  }
}
@media (max-width: 340px) {
  .datenshutz__slide .container-new h4,
  .agb__slide .container-new h4 {
    bottom: 65px;
  }
}
.datenshutz .datenshutz-content,
.datenshutz .agb-content,
.agb .datenshutz-content,
.agb .agb-content {
  padding: 60px 0 0 0;
}
.datenshutz .datenshutz-content__datenshutz,
.datenshutz .agb-content__datenshutz,
.agb .datenshutz-content__datenshutz,
.agb .agb-content__datenshutz {
  padding: 0 220px 0 110px;
}
@media (max-width: 999px) {
  .datenshutz .datenshutz-content__datenshutz,
  .datenshutz .agb-content__datenshutz,
  .agb .datenshutz-content__datenshutz,
  .agb .agb-content__datenshutz {
    padding: 0 20px 0 20px;
  }
}
@media (max-width: 720px) {
  .datenshutz .datenshutz-content__datenshutz,
  .datenshutz .agb-content__datenshutz,
  .agb .datenshutz-content__datenshutz,
  .agb .agb-content__datenshutz {
    padding-left: 40px;
  }
}
.datenshutz .datenshutz-content__datenshutz h1,
.datenshutz .agb-content__datenshutz h1,
.agb .datenshutz-content__datenshutz h1,
.agb .agb-content__datenshutz h1 {
  margin-top: 0;
  padding-bottom: 25px;
  font-family: proximabold, sans-serif;
  color: #1f1f1f;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .datenshutz .datenshutz-content__datenshutz h1,
  .datenshutz .agb-content__datenshutz h1,
  .agb .datenshutz-content__datenshutz h1,
  .agb .agb-content__datenshutz h1 {
    font-size: 28px;
    line-height: 42px;
  }
}
.datenshutz .datenshutz-content__datenshutz div,
.datenshutz .agb-content__datenshutz div,
.agb .datenshutz-content__datenshutz div,
.agb .agb-content__datenshutz div {
  padding-left: 70px;
}
@media (max-width: 999px) {
  .datenshutz .datenshutz-content__datenshutz div,
  .datenshutz .agb-content__datenshutz div,
  .agb .datenshutz-content__datenshutz div,
  .agb .agb-content__datenshutz div {
    padding-left: 60px;
  }
}
@media (max-width: 720px) {
  .datenshutz .datenshutz-content__datenshutz div,
  .datenshutz .agb-content__datenshutz div,
  .agb .datenshutz-content__datenshutz div,
  .agb .agb-content__datenshutz div {
    padding-left: 0;
  }
}
.datenshutz .datenshutz-content__datenshutz div h6,
.datenshutz .agb-content__datenshutz div h6,
.agb .datenshutz-content__datenshutz div h6,
.agb .agb-content__datenshutz div h6 {
  font-size: 24px;
  line-height: 36px;
  font-family: proximabold, sans-serif;
  margin: 0;
}
@media (max-width: 400px) {
  .datenshutz .datenshutz-content__datenshutz div h6,
  .datenshutz .agb-content__datenshutz div h6,
  .agb .datenshutz-content__datenshutz div h6,
  .agb .agb-content__datenshutz div h6 {
    font-size: 16px;
    line-height: 24px;
  }
}
.datenshutz .datenshutz-content__datenshutz div p,
.datenshutz .agb-content__datenshutz div p,
.agb .datenshutz-content__datenshutz div p,
.agb .agb-content__datenshutz div p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  font-family: proxima, sans-serif;
}
.datenshutz .datenshutz-content__datenshutz div p a,
.datenshutz .agb-content__datenshutz div p a,
.agb .datenshutz-content__datenshutz div p a,
.agb .agb-content__datenshutz div p a {
  color: #5696e1;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.datenshutz .datenshutz-content__datenshutz div p a:hover,
.datenshutz .agb-content__datenshutz div p a:hover,
.agb .datenshutz-content__datenshutz div p a:hover,
.agb .agb-content__datenshutz div p a:hover {
  text-decoration: none;
}
.datenshutz .datenshutz-content__datenshutz div .bold,
.datenshutz .agb-content__datenshutz div .bold,
.agb .datenshutz-content__datenshutz div .bold,
.agb .agb-content__datenshutz div .bold {
  font-family: proximabold, sans-serif;
}
.impressum-header {
  padding-top: 82px;
}
.impressum-header__slide {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 520px;
  position: relative;
}
.impressum-header__slide:before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.impressum-header__slide .container-new {
  position: relative;
  height: 100%;
}
.impressum-header__slide .container-new h4 {
  position: absolute;
  font-family: proximabold, sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  left: 110px;
  right: 110px;
  bottom: 100px;
}
@media (max-width: 720px) {
  .impressum-header__slide .container-new h4 {
    font-size: 32px;
    line-height: 45px;
    left: 40px;
    bottom: 126px;
    right: 40px;
  }
}
@media (max-width: 340px) {
  .impressum-header__slide .container-new h4 {
    bottom: 65px;
  }
}
.impressum-header .impressum-content {
  padding: 60px 0 0 0;
}
.impressum-header .impressum-content__achtung {
  background-color: #fafafa;
  padding: 45px 220px 55px 110px;
}
@media (max-width: 999px) {
  .impressum-header .impressum-content__achtung {
    padding: 45px 20px 55px 20px;
  }
}
@media (max-width: 720px) {
  .impressum-header .impressum-content__achtung {
    padding-left: 40px;
  }
}
.impressum-header .impressum-content__achtung h3 {
  margin-top: 0;
  padding-bottom: 45px;
  margin-bottom: 0;
  font-family: proximabold, sans-serif;
  color: #ff5555;
  font-size: 36px;
  line-height: 1;
}
@media (max-width: 720px) {
  .impressum-header .impressum-content__achtung h3 {
    font-size: 28px;
    line-height: 42px;
  }
}
.impressum-header .impressum-content__achtung div {
  padding-left: 70px;
}
@media (max-width: 999px) {
  .impressum-header .impressum-content__achtung div {
    padding-left: 60px;
  }
}
@media (max-width: 720px) {
  .impressum-header .impressum-content__achtung div {
    padding-left: 0;
  }
}
.impressum-header .impressum-content__achtung div p {
  margin: 0;
  font-size: 18px;
  color: #1f1f1f;
  line-height: 29px;
}
.impressum-header .impressum-content__impressum {
  padding: 0 220px 0 110px;
}
@media (max-width: 999px) {
  .impressum-header .impressum-content__impressum {
    padding: 0 20px 0 20px;
  }
}
@media (max-width: 720px) {
  .impressum-header .impressum-content__impressum {
    padding-left: 40px;
  }
}
.impressum-header .impressum-content__impressum h3 {
  margin-top: 0;
  padding-bottom: 25px;
  padding-top: 55px;
  font-family: proximabold, sans-serif;
  color: #1f1f1f;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 720px) {
  .impressum-header .impressum-content__impressum h3 {
    font-size: 28px;
    line-height: 42px;
  }
}
.impressum-header .impressum-content__impressum div {
  padding-left: 70px;
}
@media (max-width: 999px) {
  .impressum-header .impressum-content__impressum div {
    padding-left: 60px;
  }
}
@media (max-width: 720px) {
  .impressum-header .impressum-content__impressum div {
    padding-left: 0;
  }
}
.impressum-header .impressum-content__impressum div p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.impressum-header .impressum-content__impressum div p a {
  color: #5696e1;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.impressum-header .impressum-content__impressum div p a:hover {
  text-decoration: none;
}
section.advantages {
  font-family: proxima, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #242424;
}
section.advantages .advantages__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 180px;
  padding-right: 180px;
}
@media (max-width: 1199px) {
  section.advantages .advantages__items {
    padding-left: 0;
    padding-right: 0;
  }
}
section.advantages .advantages__items .advantages__item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.5rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media (max-width: 700px) {
  section.advantages .advantages__items .advantages__item {
    width: 100%;
  }
}
section.advantages .advantages__items .advantages__item .advantages__img {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  margin-right: 4.4rem;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 80px;
}
@media (max-width: 900px) {
  section.advantages .advantages__items .advantages__item .advantages__img {
    margin-right: 1rem;
  }
}
section.advantages .advantages__items .advantages__item .advantages__img img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
section.advantages .advantages__items .advantages__item .advantages__text-wrapper {
  width: 310px;
}
@media (max-width: 800px) {
  section.advantages .advantages__items .advantages__item .advantages__text-wrapper {
    width: 200px;
  }
}
@media (max-width: 700px) {
  section.advantages .advantages__items .advantages__item .advantages__text-wrapper {
    width: auto;
  }
}
section.advantages .advantages__items .advantages__item .advantages__text-wrapper .advantages__text p {
  margin: 0;
}
section.advantages hr {
  margin: -1rem 20rem 0 20rem;
}
@media (max-width: 1199px) {
  section.advantages hr {
    margin: -1rem 0 0 0;
  }
}
#burgerDocuraPopup,
#burgerDocuraPopupProduct {
  position: fixed;
  left: 0;
  bottom: auto;
  top: -100%;
  right: 0;
  z-index: 10;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@media (min-width: 900px) {
  #burgerDocuraPopup,
  #burgerDocuraPopupProduct {
    display: none;
  }
}
#burgerDocuraPopup .burger-content,
#burgerDocuraPopupProduct .burger-content {
  height: -webkit-calc(100vh - 145px);
  height: calc(100vh - 145px);
  overflow: auto;
}
#burgerDocuraPopup .burger-content.nrv a:hover,
#burgerDocuraPopupProduct .burger-content.nrv a:hover {
  color: #bb417d !important;
}
#burgerDocuraPopup .burger-content.nrv .open,
#burgerDocuraPopupProduct .burger-content.nrv .open {
  color: #bb417d !important;
}
#burgerDocuraPopup .burger-content.domcura a:hover,
#burgerDocuraPopupProduct .burger-content.domcura a:hover {
  color: #00c140 !important;
}
#burgerDocuraPopup .burger-content.domcura .open,
#burgerDocuraPopupProduct .burger-content.domcura .open {
  color: #2c7d57 !important;
}
#burgerDocuraPopup .burger-content.deurag a:hover,
#burgerDocuraPopupProduct .burger-content.deurag a:hover {
  color: #f61f1a !important;
}
#burgerDocuraPopup .burger-content.deurag .open,
#burgerDocuraPopupProduct .burger-content.deurag .open {
  color: #cd3c3c !important;
}
#burgerDocuraPopup header,
#burgerDocuraPopupProduct header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 70px;
  padding-bottom: 35px;
  border-bottom: 1px solid #dadada;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 350px) {
  #burgerDocuraPopup header,
  #burgerDocuraPopupProduct header {
    padding-left: 50px;
  }
}
#burgerDocuraPopup header .burger-icons-wrapper .burger-logo img,
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo img {
  height: 30px;
  width: 119px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #9b9b9b;
}
@media (max-width: 350px) {
  #burgerDocuraPopup header .burger-icons-wrapper .burger-logo img,
  #burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo img {
    height: 25px;
    width: 100px;
  }
}
#burgerDocuraPopup header .burger-icons-wrapper .burger-logo + a,
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo + a {
  vertical-align: middle;
}
#burgerDocuraPopup header .burger-icons-wrapper .burger-logo.nrv img,
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo.nrv img {
  height: auto;
}
#burgerDocuraPopup header .burger-icons-wrapper .burger-logo.domcura img,
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo.domcura img {
  height: auto;
}
#burgerDocuraPopup header .burger-icons-wrapper .burger-logo.deurag img,
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo.deurag img {
  height: auto;
}
#burgerDocuraPopup .burger-content,
#burgerDocuraPopupProduct .burger-content {
  padding-top: 55px;
  text-align: center;
}
#burgerDocuraPopup .burger-content ul,
#burgerDocuraPopupProduct .burger-content ul {
  padding: 0;
  list-style: none;
}
#burgerDocuraPopup .burger-content ul .producte,
#burgerDocuraPopupProduct .burger-content ul .producte {
  margin-right: 10px;
  color: #242424;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#burgerDocuraPopup .burger-content ul .open,
#burgerDocuraPopupProduct .burger-content ul .open {
  color: #0bcf60;
}
#burgerDocuraPopup .burger-content ul img,
#burgerDocuraPopupProduct .burger-content ul img {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#burgerDocuraPopup .burger-content ul .openimg,
#burgerDocuraPopupProduct .burger-content ul .openimg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#burgerDocuraPopup .burger-content ul li,
#burgerDocuraPopupProduct .burger-content ul li {
  font-size: 16px;
  margin-bottom: 50px;
}
#burgerDocuraPopup .burger-content ul li a,
#burgerDocuraPopupProduct .burger-content ul li a {
  text-decoration: none;
  color: #242424;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#burgerDocuraPopup .burger-content ul li a:hover,
#burgerDocuraPopupProduct .burger-content ul li a:hover {
  color: #0bcf60;
}
#burgerDocuraPopup .burger-content ul li .submenu-wrapper,
#burgerDocuraPopupProduct .burger-content ul li .submenu-wrapper {
  display: none;
  padding-top: 50px;
}
#burgerDocuraPopup .burger-content ul li .submenu-wrapper a,
#burgerDocuraPopupProduct .burger-content ul li .submenu-wrapper a {
  color: #b7b7b7;
}
#burgerDocuraPopup .burger-content ul li .submenu-wrapper a:hover,
#burgerDocuraPopupProduct .burger-content ul li .submenu-wrapper a:hover {
  color: #0bcf60;
}
@media (max-width: 560px) {
  #burgerDocuraPopup .phone,
  #burgerDocuraPopupProduct .phone {
    display: none;
  }
}
#burgerDocuraPopup .phone a,
#burgerDocuraPopupProduct .phone a {
  color: #b7b7b7;
  font-size: 16px;
  text-decoration: none;
}
#burgerDocuraPopup .phone .docura-icon-header-phone,
#burgerDocuraPopupProduct .phone .docura-icon-header-phone {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
#burgerDocuraPopup .phone-footer,
#burgerDocuraPopupProduct .phone-footer {
  display: none !important;
}
@media (max-width: 560px) {
  #burgerDocuraPopup .phone-footer,
  #burgerDocuraPopupProduct .phone-footer {
    display: block !important;
  }
}
.hiddenone {
  display: none !important;
}
.visuallyhiddenone {
  opacity: 0;
}
.opened {
  top: 0 !important;
  bottom: 0 !important;
}
.nav-icon4 {
  display: none;
  width: 25px;
  height: 18px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 30px;
  z-index: 1000;
}
.nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #464646;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.nav-icon4 span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  width: 20px;
}
.nav-icon4 span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0px;
}
.nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 0px;
}
@media (max-width: 900px) {
  .nav-icon4 {
    display: block;
  }
}
.nrv-icon-phone {
  height: 23px;
  width: 23px;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% !important;
  background: url(//waak/wp-content/themes/makler/css/../img/nrv/nrv-phone.png);
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
.domcura-icon-phone {
  height: 23px;
  width: 23px;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% !important;
  background: url(//waak/wp-content/themes/makler/css/../img/domcura/phone.png);
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
.deurag-icon-phone {
  height: 23px;
  width: 23px;
  -webkit-background-size: 100% 100% !important;
  background-size: 100% !important;
  background: url(//waak/wp-content/themes/makler/css/../img/deurag/phone.png);
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
footer.docura-footer {
  margin-top: 160px;
  font-family: proxima, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #242424;
  background-color: #fafafa;
}
footer.docura-footer .footer__main {
  padding: 85px 110px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 900px) {
  footer.docura-footer .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 55px 110px 30px;
  }
}
@media (max-width: 700px) {
  footer.docura-footer .footer__main {
    padding: 55px 0 30px;
  }
}
footer.docura-footer .footer__main .footer__logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 900px) {
  footer.docura-footer .footer__main .footer__logos {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    text-align: center;
  }
}
footer.docura-footer .footer__main .footer__logos .logos {
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  footer.docura-footer .footer__main .footer__logos .logos {
    margin-bottom: 35px;
  }
}
footer.docura-footer .footer__main .footer__logos .logos img {
  height: 30px;
  width: 119px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #9b9b9b;
}
footer.docura-footer .footer__main .footer__logos .logos .docura-icon-waak-small-logo {
  vertical-align: middle;
}
footer.docura-footer .footer__main .footer__logos .logos.nrv img {
  height: auto;
}
footer.docura-footer .footer__main .footer__logos .logos.domcura img {
  height: auto;
}
footer.docura-footer .footer__main .footer__logos .logos.deurag img {
  height: auto;
}
footer.docura-footer .footer__main .footer__logos a.phone {
  font-size: 27px;
  color: #141414;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
footer.docura-footer .footer__main .footer__logos a.phone:hover {
  color: #0bcf60;
}
footer.docura-footer .footer__main .footer__logos a.mail {
  padding-top: 30px;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 16px;
  color: #141414;
}
footer.docura-footer .footer__main .footer__logos a.mail:hover {
  color: #0bcf60;
  text-decoration: none;
}
footer.docura-footer .footer__main .footer-links-wrapper {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  footer.docura-footer .footer__main .footer-links-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 60px;
  }
}
@media (max-width: 500px) {
  footer.docura-footer .footer__main .footer-links-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
  }
}
footer.docura-footer .footer__main .footer-links-wrapper .footer__products {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: proximabold;
  position: relative;
}
footer.docura-footer .footer__main .footer-links-wrapper .footer__products:after {
  content: '';
  height: 1px;
  width: 60%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  background-color: #dadada;
  display: none;
}
@media (max-width: 500px) {
  footer.docura-footer .footer__main .footer-links-wrapper .footer__products:after {
    display: block;
  }
}
@media (max-width: 900px) {
  footer.docura-footer .footer__main .footer-links-wrapper .footer__products {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
@media (max-width: 500px) {
  footer.docura-footer .footer__main .footer-links-wrapper .footer__products {
    margin-bottom: 30px;
  }
}
footer.docura-footer .footer__main .footer-links-wrapper .footer__legal {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 900px) {
  footer.docura-footer .footer__main .footer-links-wrapper .footer__legal {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
footer.docura-footer ul {
  list-style: none;
  padding: 0;
}
footer.docura-footer ul li {
  margin-bottom: 30px;
}
footer.docura-footer ul li a {
  color: gray;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
footer.docura-footer ul li a:hover {
  color: #0bcf60;
}
footer.docura-footer hr {
  margin-bottom: 25px;
}
footer.docura-footer .footer__year {
  padding-bottom: 25px;
  text-align: center;
  font-size: 14px;
  color: #9f9f9f;
}
footer.docura-footer p {
  margin: 0;
}
footer.docura-footer.nrv a:hover {
  color: #bb417d !important;
}
footer.docura-footer.domcura a:hover {
  color: #00c140 !important;
}
footer.docura-footer.deurag a:hover {
  color: #f61f1a !important;
}
section.info,
section.falle,
section.optionale,
section.haufig {
  font-family: proxima, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #242424;
}
section.info p,
section.falle p,
section.optionale p,
section.haufig p {
  margin: 0;
}
.accordions-all {
  padding-left: 180px;
  padding-right: 220px;
  color: #242424;
}
@media (max-width: 1000px) {
  .accordions-all {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 720px) {
  .accordions-all {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
  }
}
.accordions-all h4 {
  font-family: proxima, sans-serif;
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  color: #242424;
  color: #1f1f1f;
  position: relative;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  margin: 0;
}
@media (max-width: 720px) {
  .accordions-all h4 {
    font-size: 16px;
  }
}
.accordions-all h4 a {
  padding-right: 10%;
  text-decoration: none;
}
.accordions-all h4:after {
  position: absolute;
  content: url(//waak/wp-content/themes/makler/css/../img/icons/plus.svg);
  right: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.accordions-all h4:before {
  position: absolute;
  content: url(//waak/wp-content/themes/makler/css/../img/icons/minus.svg);
  right: 0;
  top: -7px;
  opacity: 0;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.accordions-all .open {
  color: #0bcf60;
}
.accordions-all .open:after {
  opacity: 0;
}
.accordions-all .open:before {
  opacity: 1;
}
.accordions-all a {
  display: block;
  outline: none;
  text-decoration: none;
}
.accordions-all .panel-default {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #dadada;
}
.accordions-all .panel-default > .panel-heading {
  background-color: #ffffff;
  padding: 25px 0;
}
@media (max-width: 720px) {
  .accordions-all .panel-default > .panel-heading {
    padding: 15px 0;
  }
}
.accordions-all .panel-default .panel-collapse .panel-body {
  border: none;
  padding: 0 100px 25px 0;
}
@media (max-width: 600px) {
  .accordions-all .panel-default .panel-collapse .panel-body {
    padding: 0 0 25px 0;
  }
}
section.info.nrv .open {
  color: #bb417d !important;
}
section.falle.nrv h4.open {
  color: #bb417d !important;
}
section.info.domcura .open {
  color: #00c140 !important;
}
section.falle.domcura h4.open {
  color: #00c140 !important;
}
section.info.deurag .open {
  color: #f61f1a !important;
}
section.falle.deurag h4.open {
  color: #cd3c3c !important;
}
header.docura-header {
  font-family: proxima, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #242424;
  padding: 25px 0 25px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  min-height: 82px;
  font-family: proxima, sans-serif;
  font-size: 16px;
  text-align: left;
  color: #242424;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}
@media (max-width: 720px) {
  header.docura-header {
    padding: 30px 0 25px 0;
  }
}
header.docura-header .container-new {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header.docura-header .container-new .logos {
  margin-right: 60px;
}
@media (max-width: 960px) {
  header.docura-header .container-new .logos {
    margin-right: 30px;
  }
}
@media (max-width: 900px) {
  header.docura-header .container-new .logos {
    margin-left: 55px;
    margin-right: 0;
  }
}
@media (max-width: 350px) {
  header.docura-header .container-new .logos {
    margin-left: 50px;
  }
}
header.docura-header .container-new .logos img {
  width: 158px;
  height: 40px;
  vertical-align: middle;
  margin-top: -12px;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
  border-right: 1px solid #9b9b9b;
}
@media (max-width: 720px) {
  header.docura-header .container-new .logos img {
    height: 30px;
    width: 119px;
  }
}
@media (max-width: 350px) {
  header.docura-header .container-new .logos img {
    height: 25px;
    width: 100px;
    padding-right: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 660px) {
  header.docura-header .container-new .logos.nrv {
    margin-left: 35px;
  }
}
@media (max-width: 640px) {
  header.docura-header .container-new .logos.nrv {
    margin-left: 45px;
  }
}
@media (max-width: 360px) {
  header.docura-header .container-new .logos.nrv {
    margin-left: 35px;
  }
}
header.docura-header .container-new .logos.nrv img {
  width: 270px;
}
@media (max-width: 1100px) {
  header.docura-header .container-new .logos.nrv img {
    width: 158px;
    height: auto;
  }
}
@media (max-width: 1000px) {
  header.docura-header .container-new .logos.domcura {
    margin-right: 30px;
  }
}
@media (max-width: 920px) {
  header.docura-header .container-new .logos.domcura {
    margin-right: 10px;
  }
}
@media (max-width: 660px) {
  header.docura-header .container-new .logos.domcura {
    margin-left: 35px;
  }
}
@media (max-width: 640px) {
  header.docura-header .container-new .logos.domcura {
    margin-left: 45px;
  }
}
@media (max-width: 360px) {
  header.docura-header .container-new .logos.domcura {
    margin-left: 35px;
  }
}
header.docura-header .container-new .logos.domcura img {
  width: auto;
}
@media (max-width: 1000px) {
  header.docura-header .container-new .logos.deurag {
    margin-right: 30px;
  }
}
@media (max-width: 920px) {
  header.docura-header .container-new .logos.deurag {
    margin-right: 10px;
  }
}
@media (max-width: 660px) {
  header.docura-header .container-new .logos.deurag {
    margin-left: 35px;
  }
}
@media (max-width: 640px) {
  header.docura-header .container-new .logos.deurag {
    margin-left: 45px;
  }
}
@media (max-width: 360px) {
  header.docura-header .container-new .logos.deurag {
    margin-left: 35px;
  }
}
header.docura-header .container-new .logos.deurag img {
  border-right: none;
  position: absolute;
  width: 145px !important;
  height: auto;
}
header.docura-header .container-new .logos.deurag .docura-icon-waak-header-logo {
  margin-left: 165px;
  position: relative;
}
header.docura-header .container-new .logos.deurag .docura-icon-waak-header-logo:before {
  height: 40px;
  width: 1px;
  background-color: #9b9b9b;
  content: '';
  position: absolute;
  top: -50%;
  left: -20px;
}
@media (max-width: 900px) {
  header.docura-header .container-new nav {
    display: none;
  }
}
header.docura-header .container-new nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}
header.docura-header .container-new nav ul li {
  padding: 0;
  margin-right: 40px;
}
@media (max-width: 960px) {
  header.docura-header .container-new nav ul li {
    margin-right: 20px;
  }
}
header.docura-header .container-new nav ul li:hover img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
header.docura-header .container-new nav ul li:hover div {
  visibility: visible;
  opacity: 1;
}
header.docura-header .container-new nav ul li a {
  color: #242424;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header.docura-header .container-new nav ul li a:hover {
  color: #0bcf60;
}
header.docura-header .container-new nav ul li.product {
  margin-right: 30px;
}
header.docura-header .container-new nav ul li.product a {
  margin-right: 10px;
}
header.docura-header .container-new nav ul li img {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header.docura-header .container-new nav ul li div {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -webkit-calc(100% - 35px);
  top: calc(100% - 35px);
  z-index: 1;
  margin-left: -80px;
  padding-top: 55px;
  background-color: transparent;
}
header.docura-header .container-new nav ul li div ul {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  display: block;
  padding: 15px 40px;
}
header.docura-header .container-new nav ul li div ul li {
  padding: 15px 0;
  margin-right: 0;
}
header.docura-header .container-new nav ul li div ul li a {
  display: block;
  margin: 0;
}
header.docura-header .container-new nav ul li a {
  font-family: proxima, sans-serif;
  font-size: 16px;
  text-align: left;
  color: #242424;
  text-decoration: none;
}
header.docura-header .container-new nav.nrv a:hover {
  color: #bb417d !important;
}
header.docura-header .container-new .mail {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
@media (max-width: 640px) {
  header.docura-header .container-new .mail {
    display: none;
  }
}
header.docura-header .container-new .mail a {
  color: #b7b7b7;
  text-decoration: none;
}
header.docura-header .container-new .mail .icon {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}
header.docura-header .container-new .mail .nrv-mail-icon {
  background: url(//waak/wp-content/themes/makler/css/../img/nrv/mail-icon.png);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  height: 20px;
  width: 30px;
}
header.docura-header .container-new nav.domcura a:hover {
  color: #00c140 !important;
}
header.docura-header .container-new nav.deurag a:hover {
  color: #f61f1a !important;
}
header.docura-header .container-new .mail {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
@media (max-width: 640px) {
  header.docura-header .container-new .mail {
    display: none;
  }
}
header.docura-header .container-new .mail a {
  color: #b7b7b7;
  text-decoration: none;
}
header.docura-header .container-new .mail .icon {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}
header.docura-header .container-new .mail .domcura-mail-icon {
  background: url(//waak/wp-content/themes/makler/css/../img/domcura/mail-icon.png);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  height: 20px;
  width: 30px;
}
header.docura-header .container-new .mail .deurag-mail-icon {
  background: url(//waak/wp-content/themes/makler/css/../img/deurag/mail-icon.png);
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  height: 20px;
  width: 30px;
}
header.docura-header.deurag {
  padding: 27px 0 25px 0;
}
.products {
  font-family: proxima, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #242424;
}
.products__items {
  padding-left: 180px;
  padding-right: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1249px) {
  .products__items {
    padding-left: 70px;
  }
}
@media (max-width: 1199px) {
  .products__items {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .products__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.products__item {
  width: 480px;
  height: 220px;
  margin-bottom: 7rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (max-width: 1000px) {
  .products__item {
    height: 295px;
    width: 640px;
    margin-bottom: 4rem;
  }
}
@media (max-width: 700px) {
  .products__item {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .products__item {
    height: 145px;
    margin-bottom: 3rem;
  }
}
.products__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.products__item:hover {
  -webkit-box-shadow: 0 20px 30px 0 rgba(150, 150, 150, 0.5);
  box-shadow: 0 20px 30px 0 rgba(150, 150, 150, 0.5);
}
.products__item:after {
  content: '';
  background-image: url(//waak/wp-content/themes/makler/css/../img/icons/green-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 28px;
  width: 28px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  bottom: 40px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@media (max-width: 600px) {
  .products__item:after {
    bottom: auto;
    top: 40px;
  }
}
.products__item:hover:after {
  right: 30px;
}
.products__header {
  position: absolute;
  font-family: proximabold, sans-serif;
  color: #ffffff;
  z-index: 1;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.52;
  width: 330px;
  bottom: 38px;
  left: 38px;
}
@media (max-width: 500px) {
  .products__header {
    width: 220px;
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .products__header {
    width: 180px;
  }
}
.products hr {
  margin: -1rem 20rem 0 20rem;
}
@media (max-width: 1249px) {
  .products hr {
    margin: -1rem 10rem 0 10rem;
  }
}
@media (max-width: 1199px) {
  .products hr {
    margin: -1rem 0 0 0;
  }
}
@media (max-width: 1000px) {
  .products hr {
    margin: 2rem 0 0 0;
  }
}
.products a {
  outline: none;
}
.products p {
  margin: 0;
}
.products__item.nrv:after {
  background-image: url(//waak/wp-content/themes/makler/css/../img/nrv/product-cursor-nrv.png);
  -webkit-background-size: 6px 6px;
  background-size: 6px;
}
.products__item.domcura:after {
  background-image: url(//waak/wp-content/themes/makler/css/../img/domcura/stroke.png);
  -webkit-background-size: 6px 6px;
  background-size: 6px;
}
.products__item.deurag:after {
  background-image: url(//waak/wp-content/themes/makler/css/../img/deurag/stroke.png);
  -webkit-background-size: 6px 6px;
  background-size: 6px;
}
section.slider {
  padding-top: 80px;
  font-family: proxima, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #242424;
  position: relative;
}
section.slider .slider-wrapper {
  position: relative;
}
section.slider .slider-wrapper .slide {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 520px;
  position: relative;
}
section.slider .slider-wrapper .slide:before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.slider .slider-wrapper .slide .container-new {
  position: relative;
  padding: 170px 130px 0 130px;
}
@media (max-width: 900px) {
  section.slider .slider-wrapper .slide .container-new {
    padding: 170px 60px 0 60px;
  }
}
@media (max-width: 720px) {
  section.slider .slider-wrapper .slide .container-new {
    padding: 210px 60px 210px 60px;
  }
}
@media (max-width: 500px) {
  section.slider .slider-wrapper .slide .container-new {
    padding: 200px 20px 200px 20px;
  }
}
section.slider .slider-wrapper .slide .price-wrapper {
  position: absolute;
  left: 130px;
  top: 80px;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  section.slider .slider-wrapper .slide .price-wrapper {
    left: 60px;
  }
}
@media (max-width: 720px) {
  section.slider .slider-wrapper .slide .price-wrapper {
    top: 126px;
  }
}
@media (max-width: 500px) {
  section.slider .slider-wrapper .slide .price-wrapper {
    top: 113px;
    left: 20px;
  }
}
section.slider .slider-wrapper .slide .price-wrapper .icon {
  background-image: url(//waak/wp-content/themes/makler/css/../img/leaf.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf {
  position: relative;
}
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf .price-title-1,
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf .price-title-2,
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf .price {
  position: absolute;
  color: #ffffff;
  font-size: 9px;
}
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf .price-title-1 {
  top: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf .price-title-2 {
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.slider .slider-wrapper .slide .price-wrapper .docura-icon-slider-leaf .price {
  font-size: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-27%, -50%);
  -ms-transform: translate(-27%, -50%);
  transform: translate(-27%, -50%);
  width: 100%;
  font-family: proximabold, sans-serif;
}
section.slider .slider-wrapper .slide h4 {
  font-family: proximabold, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 0.94;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 720px) {
  section.slider .slider-wrapper .slide h4 {
    font-size: 32px;
  }
}
section.slider .slider-wrapper .slide .slider-text {
  font-family: proxima, sans-serif;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  margin-top: 23px;
  max-width: 660px;
}
@media (max-width: 720px) {
  section.slider .slider-wrapper .slide .slider-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
    max-width: 520px;
  }
}
@media (max-width: 500px) {
  section.slider .slider-wrapper .slide .slider-text {
    max-width: 320px;
  }
}
section.slider .slider-wrapper .slide .slider-text p {
  margin: 0;
}
section.slider .slider-wrapper .slide .btn {
  margin-top: 50px;
}
@media (max-width: 720px) {
  section.slider .slider-wrapper .slide .btn {
    margin-top: 35px;
  }
}
section.slider > .container-new {
  position: relative;
  height: 0;
}
section.slider .dots-wrapper {
  position: absolute;
  bottom: 50px;
}
@media (max-width: 900px) {
  section.slider .dots-wrapper {
    left: -45px;
  }
}
section.slider .dots-wrapper ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: absolute;
  margin: 0;
  left: 110px;
  bottom: 0;
}
section.slider .dots-wrapper ul li {
  list-style: none;
}
section.slider .dots-wrapper ul li button {
  position: relative;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
section.slider .dots-wrapper ul li button:before {
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  content: '';
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
section.slider .dots-wrapper ul li.slick-active button:before {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  top: -2.5px;
  left: -1px;
}
section.slider > .container-new {
  position: relative;
  height: 0;
}
section.slider > .container-new .arrows-wrapper {
  position: absolute;
  bottom: 108px;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
@media (max-width: 560px) {
  section.slider > .container-new .arrows-wrapper {
    bottom: 40px;
  }
}
section.slider > .container-new .arrows-wrapper button {
  position: relative;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 25px;
  margin-right: 17px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
section.slider > .container-new .arrows-wrapper button:before {
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  text-align: center;
  color: black;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #015536;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
section.slider > .container-new .arrows-wrapper button:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #0bcf60;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
section.slider > .container-new .arrows-wrapper button.slick-next:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #015536;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
section.slider > .container-new .arrows-wrapper button.slick-next:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #0bcf60;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
section.slider.nrv .price-wrapper .icon {
  background-image: url(//waak/wp-content/themes/makler/css/../img/nrv/leaf-nrv.png) !important;
}
section.slider.nrv .arrows-wrapper button:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #8f1a4e !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.nrv .arrows-wrapper button:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #bb417d !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.nrv .arrows-wrapper button.slick-next:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #8f1a4e !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.nrv .arrows-wrapper button.slick-next:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #bb417d !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.domcura .price-wrapper .icon {
  background-image: url(//waak/wp-content/themes/makler/css/../img/domcura/leaf.png) !important;
}
section.slider.domcura .arrows-wrapper button:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #2c7d57 !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.domcura .arrows-wrapper button:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #00c140 !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.domcura .arrows-wrapper button.slick-next:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #2c7d57 !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.domcura .arrows-wrapper button.slick-next:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #00c140 !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.deurag .price-wrapper .icon {
  background-image: url(//waak/wp-content/themes/makler/css/../img/deurag/rectangle.png) !important;
}
section.slider.deurag .arrows-wrapper button:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #cd3c3c !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.deurag .arrows-wrapper button:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-left.svg) #f61f1a !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.deurag .arrows-wrapper button.slick-next:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #cd3c3c !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.slider.deurag .arrows-wrapper button.slick-next:hover:before {
  background: url(//waak/wp-content/themes/makler/css/../img/icons/slider-arrow-right.svg) #f61f1a !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
section.product-vorteile .product-vorteile-content-wrapper {
  padding-left: 110px;
  padding-right: 220px;
}
@media (max-width: 900px) {
  section.product-vorteile .product-vorteile-content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  section.product-vorteile .product-vorteile-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
section.product-vorteile .product-vorteile-content-wrapper ul {
  padding-left: 70px;
  list-style: none;
  margin: 0 0 40px 0;
}
@media (max-width: 900px) {
  section.product-vorteile .product-vorteile-content-wrapper ul {
    padding-left: 60px;
  }
}
@media (max-width: 500px) {
  section.product-vorteile .product-vorteile-content-wrapper ul {
    padding-left: 46px;
  }
}
section.product-vorteile .product-vorteile-content-wrapper ul li {
  font-size: 18px;
  color: #242424;
  line-height: 29px;
  margin-top: 25px;
  position: relative;
}
@media (max-width: 900px) {
  section.product-vorteile .product-vorteile-content-wrapper ul li {
    font-size: 16px;
    line-height: 24px;
  }
}
section.product-vorteile .product-vorteile-content-wrapper ul li:before {
  content: url(//waak/wp-content/themes/makler/css/../img/icons/ok-icon.svg);
  position: absolute;
  left: -44px;
}
section.product-vorteile a {
  display: inline-block;
  padding-left: 70px;
  position: relative;
  font-size: 14px;
  color: #b7b7b7;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@media (max-width: 500px) {
  section.product-vorteile a {
    padding-left: 46px;
  }
}
section.product-vorteile a:hover {
  text-decoration: none;
}
section.product-vorteile a:before {
  content: url(//waak/wp-content/themes/makler/css/../img/icons/pdf.svg);
  position: absolute;
  left: 22px;
  top: -3px;
}
@media (max-width: 500px) {
  section.product-vorteile a:before {
    left: 0;
  }
}
@media (min-width: 900px) {
  #burgerDocuraPopupProduct {
    display: block;
  }
}
@media (min-width: 1130px) {
  #burgerDocuraPopupProduct {
    display: none;
  }
}
#burgerDocuraPopupProduct .burger-content {
  height: -webkit-calc(100vh - 145px);
  height: calc(100vh - 145px);
  overflow: auto;
}
#burgerDocuraPopupProduct header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 70px;
  padding-bottom: 35px;
  border-bottom: 1px solid #dadada;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 350px) {
  #burgerDocuraPopupProduct header {
    padding-left: 50px;
  }
}
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo img {
  height: 30px;
  width: 119px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #9b9b9b;
}
@media (max-width: 350px) {
  #burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo img {
    height: 25px;
    width: 100px;
  }
}
#burgerDocuraPopupProduct header .burger-icons-wrapper .burger-logo + a {
  vertical-align: middle;
}
#burgerDocuraPopupProduct .burger-content {
  padding-top: 55px;
  text-align: center;
}
#burgerDocuraPopupProduct .burger-content ul {
  padding: 0;
  list-style: none;
}
#burgerDocuraPopupProduct .burger-content ul .producte {
  margin-right: 10px;
  color: #242424;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#burgerDocuraPopupProduct .burger-content ul .open {
  color: #0bcf60;
}
#burgerDocuraPopupProduct .burger-content ul img {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#burgerDocuraPopupProduct .burger-content ul .openimg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#burgerDocuraPopupProduct .burger-content ul li {
  font-size: 16px;
  margin-bottom: 50px;
}
#burgerDocuraPopupProduct .burger-content ul li a {
  text-decoration: none;
  color: #242424;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#burgerDocuraPopupProduct .burger-content ul li a:hover {
  color: #0bcf60;
}
#burgerDocuraPopupProduct .burger-content ul li .submenu-wrapper {
  display: none;
  padding-top: 50px;
}
#burgerDocuraPopupProduct .burger-content ul li .submenu-wrapper a {
  color: #b7b7b7;
}
#burgerDocuraPopupProduct .burger-content ul li .submenu-wrapper a:hover {
  color: #0bcf60;
}
@media (max-width: 560px) {
  #burgerDocuraPopupProduct .phone {
    display: none;
  }
}
#burgerDocuraPopupProduct .phone a {
  color: #b7b7b7;
  font-size: 16px;
  text-decoration: none;
}
#burgerDocuraPopupProduct .phone .docura-icon-header-phone {
  vertical-align: middle;
  margin-right: 10px;
}
#burgerDocuraPopupProduct .phone-footer {
  display: none !important;
}
@media (max-width: 560px) {
  #burgerDocuraPopupProduct .phone-footer {
    display: block !important;
  }
}
.hiddenone {
  display: none !important;
}
.visuallyhiddenone {
  opacity: 0;
}
.opened {
  top: 0 !important;
  bottom: 0 !important;
}
.nav-icon4.nav-burger {
  display: none;
  width: 25px;
  height: 18px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 30px;
  z-index: 1000;
}
.nav-icon4.nav-burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #464646;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav-icon4.nav-burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.nav-icon4.nav-burger span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  width: 20px;
}
.nav-icon4.nav-burger span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.nav-icon4.nav-burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0px;
}
.nav-icon4.nav-burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-icon4.nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 0px;
}
@media (max-width: 1130px) {
  .nav-icon4.nav-burger {
    display: block;
  }
}
section.calculator {
  overflow: hidden;
}
section.calculator h3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 27px;
  text-align: center;
  color: #ffffff;
  background-color: #0bcf60;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 25px 10px;
  max-width: 1030px !important;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 27px;
  font-family: proxima, sans-serif;
  width: 100%;
  text-transform: none;
  line-height: 26px;
}
@media (max-width: 720px) {
  section.calculator h3 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  section.calculator h3 {
    padding: 10px;
  }
}
section.calculator .calculator-wrapper iframe {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.falle#falle .subheader {
  padding-left: 180px;
  padding-right: 220px;
}
@media (max-width: 900px) {
  section.falle#falle .subheader {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 720px) {
  section.falle#falle .subheader {
    padding-left: 0;
    padding-right: 0;
  }
}
#accordion3 h4:after {
  position: absolute;
  content: url(//waak/wp-content/themes/makler/css/../img/icons/header-arrow.svg);
  right: 0;
  top: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#accordion3 h4:before {
  position: absolute;
  content: url(//waak/wp-content/themes/makler/css/../img/icons/header-arrow.svg);
  right: 0;
  top: 7px;
  opacity: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
#accordion3 .open {
  color: #0bcf60;
}
#accordion3 .open:after {
  opacity: 0;
}
#accordion3 .open:before {
  opacity: 1;
}
@media (max-width: 1250px) {
  header.docura-header.product-header .container-new .logos {
    margin-right: 10px;
  }
}
@media (max-width: 1130px) {
  header.docura-header.product-header .container-new .logos {
    margin-left: 55px;
  }
}
@media (max-width: 1130px) {
  header.docura-header.product-header .container-new nav {
    display: none;
  }
}
header.docura-header.product-header .container-new nav ul li {
  margin-right: 30px;
}
@media (max-width: 1250px) {
  header.docura-header.product-header .container-new nav ul li {
    margin-right: 15px;
  }
}
header.docura-header.product-header .container-new nav ul li.product {
  margin-right: 0;
}
header.docura-header.product-header.nrv .logos img {
  height: auto;
}
header.docura-header.product-header.nrv a {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header.docura-header.product-header.nrv a:hover {
  color: #bb417d !important;
}
header.docura-header.product-header.domcura .logos img {
  height: auto;
}
header.docura-header.product-header.domcura a {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header.docura-header.product-header.domcura a:hover {
  color: #00c140 !important;
}
header.docura-header.product-header.deurag .logos img {
  height: auto;
}
header.docura-header.product-header.deurag a {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header.docura-header.product-header.deurag a:hover {
  color: #f61f1a !important;
}
section.slider.product-slide .slider-wrapper .slide {
  background-position: 50% top;
}
section.slider.product-slide .sertifficate-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  position: absolute;
  right: 0;
  bottom: 0px;
}
section.slider.product-slide .sertifficate-wrapper img {
  height: 100%;
  width: auto;
  margin-right: 20px;
}
section.slider.product-slide .sertifficate-wrapper-small {
  display: none;
  position: static;
  margin-top: 25px;
}
@media (max-width: 720px) {
  section.slider.product-slide .sertifficate-wrapper-small {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (max-width: 500px) {
  section.slider.product-slide .sertifficate-wrapper-small {
    height: 50px;
  }
}
section.step h2 {
  margin-bottom: 25px;
}
section.step .step-content-wrapper {
  padding-left: 110px;
  padding-right: 70px;
}
@media (max-width: 900px) {
  section.step .step-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
section.step .step-content-wrapper .step-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  section.step .step-content-wrapper .step-items {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
section.step .step-content-wrapper .step-items .step-item {
  padding-right: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 1100px) {
  section.step .step-content-wrapper .step-items .step-item {
    width: 50%;
    margin-bottom: 40px;
  }
  section.step .step-content-wrapper .step-items .step-item:nth-of-type(2):before {
    width: 0;
    height: 0;
  }
}
@media (max-width: 1100px) and (max-width: 720px) {
  section.step .step-content-wrapper .step-items .step-item:nth-of-type(2):before {
    height: 25px;
    width: 1px;
    height: 25px;
    width: 1px;
    left: 45px;
    bottom: -35px;
  }
}
@media (max-width: 720px) {
  section.step .step-content-wrapper .step-items .step-item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 45px;
  }
}
section.step .step-content-wrapper .step-items .step-item .img-wrapper {
  height: 90px;
  width: 90px;
  background-color: #0bcf60;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  min-width: 90px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}
section.step .step-content-wrapper .step-items .step-item .img-wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-height: 50%;
  width: auto;
}
section.step .step-content-wrapper .step-items .step-item .text-wrapper p {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
}
section.step .step-content-wrapper .step-items .step-item:before {
  content: '';
  height: 1px;
  width: 25px;
  background-color: #aaa;
  position: absolute;
  right: 25px;
}
@media (max-width: 720px) {
  section.step .step-content-wrapper .step-items .step-item:before {
    height: 25px;
    width: 1px;
    height: 25px;
    width: 1px;
    left: 45px;
    bottom: -35px;
  }
}
section.step .step-content-wrapper .step-items .step-item:last-of-type {
  padding-right: 0;
}
section.step .step-content-wrapper .step-items .step-item:last-of-type:before {
  width: 0;
  height: 0;
}
.subheader {
  padding-left: 70px;
  color: #aaa;
  font-size: 27px;
  font-family: proximabold, sans-serif;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .subheader {
    padding-left: 60px;
    font-size: 18px;
  }
}
@media (max-width: 720px) {
  .subheader {
    padding-left: 0;
  }
}
section.step.nrv .img-wrapper {
  background-color: #bb417d !important;
}
section.step.domcura .img-wrapper {
  background-color: #00c140 !important;
}
section.step.deurag .img-wrapper {
  background-color: #f61f1a !important;
}
section.product-why {
  padding: 45px 0;
  background-color: #fafafa;
}
section.product-why h2 {
  margin-top: 0;
}
section.product-why .product-content-wrapper {
  padding-left: 180px;
  padding-right: 220px;
}
@media (max-width: 1000px) {
  section.product-why .product-content-wrapper {
    padding-right: 40px;
  }
}
@media (max-width: 900px) {
  section.product-why .product-content-wrapper {
    padding-right: 0;
    padding-left: 60px;
  }
}
@media (max-width: 500px) {
  section.product-why .product-content-wrapper {
    padding-left: 28px;
  }
}
section.product-why .product-content-wrapper p {
  margin: 0;
  font-size: 18px;
  color: #242424;
  line-height: 29px;
}
.impressum-content div {
  font-size: 18px !important;
  line-height: 26px !important;
  color: red !important;
}
