/*
Theme Name: makler
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: makler
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

makler is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

.main {
    padding-top: 55px;
    background: url('img/main-back.png') repeat-x;
}

input.btn1 {
    color: white !important;
    font-family: 'Open Sans' !important ;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    width: 160px !important;
    height: 52px !important;
    background-color: #30a487 !important;
    border: none !important;
    outline: none !important;
    margin-top: 40px !important;
    box-shadow: none !important;

    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    transition-duration: background-color;
    transition-delay: 0.3;
    cursor: pointer;
}
input.btn1:hover, input.btn1:focus,input.btn1:active {
    color: #fff !important;
    background-color: #43bf9f !important;
    /*text-decoration: none;*/
}

div.wpcf7-validation-errors {
    border-color: #f00;
}

.main-header .main-nav>li .sub-menu {
    width: 270px !important;
}

.main-header .main-nav>li>a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
}

.post-categories {
    list-style: none;
    padding-left: 0;
}

.post-categories a {
    color: #5d5d5d;
}

.addedContainer .blog .authorDiv {
    height: auto;
}

.nav-links {
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

.nav-links a {
    width: 50%;
    float: left;
    padding: 20px;
    border: 1px solid #ddd;
}

.nav-links .nav-previous a {
    text-align: right;
}
.nav-links .nav-next a {
    border-left: none;
}

.addedContainer .building h2 {
    width: auto;
    margin-top: 25px;
    line-height: 1.2;
}
.addedContainer .building ul li {
    display: block;
    width: 100%;
}

.breadcrumbs a {
    color: #959595;
    text-decoration: underline;
}

.links-group-category .category::before {
    background-image: none;
    content: '';
    width: 0;
    height: 0;
    margin-right: 0;
}

.links-group-category .category{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.links-group-category .latest-article {
    padding-left: 0;
    padding-right: 0;
}

.no-results {
    min-height: 400px;
    padding-bottom: 40px;
}

form .screen-reader-text {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;
}

form .search-submit {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.search-content {
    min-height: 400px;
    padding-bottom: 50px;
}
.search-content>article {
    margin-bottom: 30px;
}

.category-content {
    min-height: 300px;
    padding-bottom: 40px;
}

.main-header  .sub-menu .sub-menu {
    left: 270px !important;
    top: 0 !important;
}

.content-category {
    margin-bottom: 30px;
}

.sub-menu {
    /*display: block !important;*/

}

.sub-menu li {
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    border-right: 2px solid #b1b1b1;
}
.sub-menu li:first-child {
    border-top: 1px solid #d7d7d7;
}
.sub-menu li:last-child {
    border-bottom: 1px solid #d7d7d7;
}

.main-header .main-nav>li .sub-menu a::before {
    margin-right: 10px;
    vertical-align: top;
}

html,body {
    height: 100%;
}
.wreper-video {
    height: 44%;
}

.carousel-indicators .active {
    margin: 0 7px;
}
.carousel-indicators li:first-child.active {
    margin: 0 7px 0 0;
}

.all-articles {
    text-align: center;
}

.all-articles .btn1 {
    font-size: 18px;
    height: 54px;
    line-height: 54px;
}

.latest-articles .latest-article {
    margin-bottom: 20px;
}


@media screen and (max-width: 490px) {
    .slider-div_wreper {
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .main-header .main-nav>li .sub-menu {
        width: 100% !important;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .main-header  .sub-menu .sub-menu {
        width: 100% !important;
        top: 50px !important;
        left: 0 !important;
    }
}
.social-links_ul .xing {
    background: url("img/xing.png") no-repeat 0 -35px;
    transition: none;
}
.social-links_ul a, .social-links_ul a:hover {
    transition: none;
}

.social-links_ul .xing:hover{
    background-position: 0 0;
    transition: none;
}
.social-links {
    float: left;
}
.addedContainer .building h2 {
    height: auto;
}

@media screen and (max-width: 330px) {
    .main-header .tel {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .latest-article figcaption {
        padding-left: 0;
    }
    .latest-article .wreper-img {
        width: 100%;
        text-align: center;
    }
}

.main-header .navbar-brand {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    background: none;
    text-indent: 0;
    width: 100%;
    padding-top: 8px;
    height: auto;
    margin-bottom: 0;
}

.main-header .navbar-brand:hover,.main-header .navbar-brand:focus, .main-header .navbar-brand:active {
    color: #ffffff;
}

.main-header .navbar-brand img {
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
}

.main-header .navbar-brand p {
    padding-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}