@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

.addedContainer{
}

.addedContainer .breadcrumbs{
    color: #959595;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.addedContainer .breadcrumbs ul{
    margin-bottom: 0;
    display: inline-block;
    padding: 0;
}

.addedContainer .breadcrumbs ul li a, .addedContainer .breadcrumbs ul li{
    display: inline-block;
    float: left;
    position: relative;

    color: #959595;
}

.addedContainer .breadcrumbs ul li{
    margin-right: 12px;
}

.addedContainer .breadcrumbs ul li a{
    text-decoration: underline;
}

.addedContainer .breadcrumbs ul li a:hover,
.addedContainer .breadcrumbs ul li a:focus,
.addedContainer .breadcrumbs ul li a:active {
    color: #2fa387;
    text-decoration: none;
}

.addedContainer .breadcrumbs ul li:after {
    content: " • ";
    position: absolute;
    top: 0;
    right: -8px;
}

.addedContainer .breadcrumbs ul li:last-child:after{
    display: none;
}

.addedContainer .breadcrumbs ul li:last-child{
    margin-right: 0;
    text-decoration: none;
}

.addedContainer .building h2{
    width: 142px;
    height: 28px;
    color: #30a487;
    font-size: 30px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
}

.addedContainer .building{
    margin-top: 37px;
    padding-bottom: 50px;
    margin-bottom: 35px;
    border-bottom: 1px solid #dddddd;
}

.addedContainer .building ul{
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 0;
}

.addedContainer .building p, .addedContainer .building ul li,
.addedContainer .contact p, .addedContainer .contact ul li{
    color: #5d5d5d;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 25px;
}

.addedContainer .building ul li{
    margin-top: 0;
}

.addedContainer .building ul li {
    display: inline-block;
    position: relative;
    margin-right: 12px;
    margin-left: 22px;
    position: relative;
}

.addedContainer .building ul li:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #30a487;
    border-radius: 5px;
    top: 7px;
    left: -22px;
    position: absolute;
}

.addedContainer .building .h3Div h3{
    font-family: OpenSans;
    font-weight: 400;
    line-height: 24px;
    color: #30a487;
    font-size: 18px;
    margin-top: 48px;
    margin-bottom: 0;
}

.addedContainer .building .wrap{
    display: inline-block;
}

.addedContainer .building .olDiv ol{
     margin-bottom: 0;
     padding-left: 0;
}

.addedContainer .building .olDiv ol{
    margin-bottom: 0;
    padding-left: 35px;
    margin-top: 45px;
}

.addedContainer .building .olDiv ol li{
    list-style-type: none;
    padding-left: 60px;
    position: relative;
    margin-top: 35px;
}

.addedContainer .building .olDiv ol p{
    font-weight: 700;
    line-height: 24px;
    margin-top: 0;
}

.addedContainer .building .olDiv ol span{
    color: #5d5d5d;
    font-family: OpenSans;
    font-size: 14px;
    margin-top: 6px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
}

.addedContainer .building .olDiv ol span.liDecor{
    position: absolute;
    top: 4px;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #30a487;
    border-radius: 15px;
    margin-top: 0;
    color: white;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.addedContainer .addedContainerInner{
    margin-right: 15px;
    margin-left: 15px;
}

.slider-div_wreper {
    margin-bottom: 25px;
}

/*for index3 only*/

.addedContainer .contact {
    margin-top: 30px;
    margin-bottom: 60px;
}


.addedContainer .photoDiv{
    margin-left: -15px;
}

.addedContainer .contact p{
    margin-top: 0;
}

.addedContainer .contact .regFormAndPhoto{
    margin-top: 30px;
}

.addedContainer .contact .regFormAndPhoto img{
    margin-top: 8px;
}

.addedContainer .contact .regFormAndPhoto form{
    width: 445px;
}

.addedContainer .contact .regFormAndPhoto form input,
.addedContainer .contact .regFormAndPhoto form input:focus{
    width: 100%;
    height: 39px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 5px #d0d0d0;
    outline: none;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #8b8b8b;
}

.addedContainer .contact .regFormAndPhoto form textarea,
.addedContainer .contact .regFormAndPhoto form textarea:focus{
    width: 100%;
    height: 171px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 5px #d0d0d0;
    outline: none;
    overflow: hidden;
    resize: none;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #8b8b8b;
}

.addedContainer .contact .regFormAndPhoto form label{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #8b8b8b;
    margin-top: 23px;
}

.addedContainer .contact .regFormAndPhoto form label .green{
 color: #30a487;
}

.addedContainer .contact .regFormAndPhoto form button{
    color: white;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 160px;
    height: 52px;
    background-color: #30a487;
    border: none;
    outline: none;
    margin-top: 40px;
}

@media(max-width:1199px) {
    .addedContainer .contact .regFormAndPhoto form {
        width: 100%;
    }
}

/*for index4 only*/

.addedContainer .approach {
    margin-top: 30px;
    color: #5d5d5d;
}

.addedContainer .approach h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 30px;
}

.addedContainer .approach ul{
    padding-left: 0;
    margin-top: 27px;
    margin-bottom: 0;
}

.addedContainer .approach ul li{
    display: block;
    margin-top: 5px;
}

.addedContainer .approach ul li span{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.addedContainer .approach .addressWrap{
    margin-top: 25px;
}

.addedContainer .approach .addressWrap span{
    padding-left: 22px;
    background: url("../img/addedImg/pin.png") no-repeat left 7px;
    display: inline-block;
    line-height: 1.8;
}

.addedContainer .approach #map{
    height: 412px;
    margin-bottom: 80px;
    margin-top: 15px;
}

@media(max-width:767px) {
    .addedContainer .approach #map{
        height: 280px;
    }
}

/*for index5 only*/

.addedContainer .blog {
    margin-top: 30px;
    color: #5d5d5d;
    margin-bottom: 20px;
}

.addedContainer .blog .authorDiv .authorPhotoDiv{
    float: left;
    display: inline-block;
}

.addedContainer .blog .authorDiv .authorAndCategoryInfo{
    float: left;
    display: inline-block;
}

.addedContainer .blog .authorDiv .authorAndCategoryInfo span{
    display: block;
    color: #5d5d5d;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 17px;
}

.addedContainer .blog .authorDiv .authorAndCategoryInfo .categoryName{
    margin-top: 10px;
}

.addedContainer .blog .authorDiv {
    display: inline-block;
    width: 100%;
    height: 55px;
    margin-top: 10px;
}

.addedContainer .blog .authorDiv .authorPhotoDiv img{
    margin-top: 2px;
}

.addedContainer .blog .postTitleDiv {
    height: 50px;
    overflow: hidden;
    margin-top: 20px;
}

.addedContainer .blog .postTitleDiv a{
    color: #5d5d5d;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    letter-spacing: 0.6px;
}

.addedContainer .blog .postTitleDiv a:hover{
    color: #30a487;
    cursor: pointer;
}

.addedContainer .blog .postTextDiv {
    color: #5d5d5d;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 217px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
    overflow: hidden;
}

.addedContainer .blog .looksAndCommentsItem{
    color: #5d5d5d;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 35px;
}

.addedContainer .blog .looksAndCommentsItem .looksItem{
    position: relative;
    padding-left: 30px;
    min-width: 85px;
    float: left;
}

.addedContainer .blog .looksAndCommentsItem .commentsItem{
    position: relative;
    padding-left: 25px;
    width: 85px;
    float: left;
}

.addedContainer .sprite {
    background: url(../img/addedImg/spritesheet.png) no-repeat;
    display: block;
}

.addedContainer .sprite-commentIcon {
    width: 16px;
    height: 13px;
    background-position: -5px -5px;

    position: absolute;
    top: 3px;
    left: 0;
}

.addedContainer .sprite-eye {
    width: 21px;
    height: 13px;
    background-position: -5px -28px;

    position: absolute;
    top: 3px;
    left: 0;
}

.addedContainer .sprite-pin {
    width: 13px;
    height: 21px;
    background-position: -5px -51px;
}

@media(max-width:1119px) {
    .addedContainer .blog .postTextDiv {
        height: 180px;
    }
}

@media(max-width:991px) {
    .addedContainer .blog .postTextDiv {
        height: 230px;
    }
}

@media(max-width:767px) {
    .addedContainer .blog .postTextDiv {
        height: auto;
        padding-bottom: 20px;
        text-align: justify;
    }
}







