.calculator-subheader {
  padding-left: 180px;
  color: #aaa;
  font-size: 27px;
  font-family: proximabold, sans-serif;
  margin-bottom: 30px;
  margin-top: -25px;
  margin-right: 110px;
}
/* .calculator-form-tooltip */
.calculator-form-tooltip {
  position: absolute;
  right: 0;
  width: auto !important;
}
.calculator-form-tooltip::after {
  content: '';
  background-image: url('img/tooltip/info@3x.png');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  overflow: hidden;
  display: inline-block;
}
.calculator-form-tooltip + .tooltip > .tooltip-inner {
  background-color: #f9f9f9;
  color: black;
  font-size: 14px;
  text-align: left;
  line-height: 21px;
  padding: 20px 10px 20px 20px;
  max-width: 326px;
  box-sizing: border-box;
  border: solid 1px #dadada;
}
.calculator-form-tooltip + .tooltip > .tooltip-arrow {
  border-left-color: #dadada;
}

form {
  position: relative;
  margin-left: 110px;
  margin-right: 110px;
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

form p.form-element {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 29px;
  color: #1f1f1f;
  font-family: "proxima", sans-serif;
  margin: 0;
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

form p.form-input label {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  margin: 0;
}

form p.form-input span {
  width: 50%;
}

form p.form-input input {
  width: 70px;
}

form input,
form textarea {
  border: 1px solid #dadada;
}

form p.form-input.form-check {
  /* height: 70px; */
  padding: 20px 0 0 0;
}

form p.form-input.form-check span.selects-separate {
  width: 100%;
}
form p.form-input.form-check span.selects-separate span {
  width: auto;
  margin: 0 20px 0 0;
}

form p.form-input.form-check span.selects-separate label {
  width: auto;
}

form p.form-input.form-check span.selects-separate label input {
  display: none;
  white-space: nowrap;
}

form p.form-input.form-check span.selects-separate label input[type="radio"] + span {
  min-width: 120px;
  height: 34px;
  border: 1px solid #dadada;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 34px;
}

form p.form-input.form-check span.selects-separate label input[type="radio"]:checked + span {
  background-color: #f61f1a;
  color: #ffffff;
}

/* ya - nein */
form p.form-input.form-ya-nein .selects-separate2 {
  background-color: #dadada;
  height: 34px;
  width: 140px;
  display: flex;
  border-radius: 50px;
}

form p.form-input.form-ya-nein .selects-separate2 span {
  margin: 0;
  width: 50%;
  text-align: center;
  display: inline-block;
}

form p.form-input.form-ya-nein .selects-separate2 input {
  display: none;
}

form p.form-input.form-ya-nein .selects-separate2 label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

form p.form-input.form-ya-nein .selects-separate2 label span {
  width: 100%;
  border-radius: 50px;
  line-height: 33px;
}

form p.form-input.form-ya-nein .selects-separate2 label input[type="radio"]:checked + span {
  background-color: #f61f1a;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* frau - herr */
form p.form-input.form-frau .radio-frau span.selects-separate2 {
  width: 100%;
}

form p.form-input.form-frau .radio-frau span.selects-separate2 span {
  width: auto;
  margin: 0;
  margin-right: 40px;
  padding-left: 40px;
  position: relative;
  margin-left: -20px;
}

form p.form-input.form-frau .radio-frau span.selects-separate2 label {
  cursor: pointer;
}

form p.form-input.form-frau .radio-frau span.selects-separate2 label span::before {
  content: '';
  height: 34px;
  width: 34px;
  display: inline-block;
  border: solid 4px #dadada;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -3px;
}

form p.form-input.form-frau .radio-frau span.selects-separate2 span input {
  display: none;
}

form p.form-input.form-frau .radio-frau span.selects-separate2 span input:checked + span::before {
  content: '';
  background-color: #f61f1a;
}

/* text inputs */
form p.form-input.width-input input {
  width: 440px;
}

/* textarea */
form p.form-input.width-textarea-input textarea {
  width: 440px;
  height: 255px;
}
form p.form-input.width-textarea-input {
  border-bottom: none;
}

/* acceptance */
form p.form-input.width-textarea-input span.acceptance-wrapper {
  color: #dadada;
  font-size: 14px;
  width: 100%;
  margin-top: 19px;
  display: inline-block;
}

form p.form-input.width-textarea-input span.acceptance {
  width: 100%;
}

form p.form-input.width-textarea-input span.acceptance span {
  width: auto;
  margin: 0;
}

form p.form-input.width-textarea-input span.acceptance span input {
  width: auto;
  /* display: none; */
}

form p.form-input.width-textarea-input span.acceptance label {
  width: 260px;
  line-height: normal;
  position: relative;
}

form p.form-input.width-textarea-input span.acceptance label span {
  padding-left: 20px;
}

form p.form-input.width-textarea-input span.acceptance span input + span::before {
  content: '';
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  border: 1px solid #dadada;
  border-radius: 3px;
}
form p.form-input.width-textarea-input span.acceptance span input:checked + span::after {
  content: '';
  height: 14px;
  width: 14px;
  background-color: #f61f1a;
  position: absolute;
  left: 5px;
  bottom: 15px;
}

/* button */
form .button-wrapper {
  margin-left: 50%;
  margin-bottom: 20px;
  width: 50%;
}

form input[type="submit"] {
  width: 440px;
  height: 55px;
  background-color: #f61f1a;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

/* calculator-form-popup */
.calculator-form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 840px;
  height: 145px;
  border-radius: 9px;
  background-color: #222025;
  color: #ffffff;
  text-align: center;
  font-family: "proxima", sans-serif;
  font-size: 18px;
  line-height: 145px;
  transition: all .4s linear;
}
.calculator-form-popup img {
  position: absolute;
  height: 18px;
  width: 18px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.visuallyhidden {
  opacity: 0 !important;
}
.wpcf7-mail-sent-ok {
  display: none !important;
}

/* va */
form input,
form textarea {
  padding-left: 5px;
}
form .form-check label span:hover {
  background-color: rgba(246, 31, 26, 0.7);
  color: #ffffff;
}

/* media */
@media all and (max-width: 1199px) {
  form p.form-input.width-input input,
  form p.form-input.width-textarea-input textarea,
  form input[type="submit"] {
    width: 90%;
  }
  .calculator-subheader {
    padding-left: 130px;
  }
}

@media all and (max-width: 900px) {
  .calculator-subheader {
    padding-left: 20px;
    margin-right: 0;
    padding-right: 20px;
  }
  form {
    margin-left: 0;
    margin-right: 0;
  }
  .calculator-form-popup {
    width: 680px;
    height: 130px;
    font-size: 16px;
    line-height: 180px;
  }
}

@media all and (max-width: 800px) {
  form p.form-input.form-frau .radio-frau span.selects-separate2 span {
    margin-right: 10px;
  }
}

@media all and (max-width: 720px) {
  form label,
  form span {
    font-size: 16px !important;
  }
  form p.form-input.width-textarea-input span.acceptance span input:checked + span::after {
    bottom: 21px;
  }
  .calculator-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .calculator-form-popup {
    width: 80%;
    height: auto;
    font-size: 16px;
    line-height: 1.6;
    padding: 50px 50px 35px 10px;
  }
}

@media all and (max-width: 575px) {
  .calculator-subheader {
    font-size: 18px;
    line-height: 1.61;
  }
  form p.form-element {
    flex-wrap: wrap;
    flex-direction: column;
  }
  form label {
    margin-bottom: 20px !important;
    width: 100% !important;
  }
  form .form-check > span:first-of-type,
  form .form-ya-nein > span:first-of-type,
  form .form-frau > span:first-of-type {
    margin-bottom: 20px !important;
  }
  form .form-check span {
    width: auto !important;
  }
  form p.form-input span {
    width: 90%;
  }
  form p.form-input.form-check span.selects-separate span {
    margin-right: 10px;
    margin-bottom: 0;
  }
  form p.form-input.form-check span.selects-separate label {
    margin-bottom: 0 !important;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    width: 100% !important;
  }
  form p.form-input.width-textarea-input textarea {
    height: 100px;
  }
  form .width-input span,
  form .width-textarea-input span {
    width: 100% !important;
  }
  form p.form-input.width-textarea-input span.acceptance span input:checked + span::after {
    bottom: 1px;
  }
  form .button-wrapper {
    margin-left: 0;
    width: 100%;
  }
  form input[type="submit"] {
    width: 100%;
  }
  .calculator-form-tooltip + .tooltip > .tooltip-inner {
    width: 250px;
  }
}

@media all and (max-width: 390px) {
  form p.form-input.width-textarea-input span.acceptance span input:checked + span::after {
    bottom: 21px;
  }
}
